<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laevatein">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application android:allowBackup="true">
        <activity android:name=".ui.PhotoSelectionActivity" />
        <activity android:name=".ui.ImagePreviewActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/l_file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>